.cv {
  min-height: 90vh;
  background: var(--light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}

.cv h1 {
  font-size: var(--titleSize);
}

.cv .cv-container {
  width: calc(70vw + 3.5rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
      grid-template-areas: "text svg";
  gap: 3rem;
}

@media screen and (max-width: 940px) {
  .cv .cv-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "text" "svg";
    gap: 0;
  }
}

.cv .cv-container .text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cv .cv-container .text div {
  text-align: center;
}

.cv .cv-container .text div h3 {
  margin: 0 0 2rem 0;
}

.cv .cv-container .text div button {
  cursor: pointer;
  font-size: clamp(1rem, 4vw, 1.3rem);
  background: var(--between);
  color: #fff;
  border: 2px solid var(--between);
  padding: 0.8rem 1.3rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.cv .cv-container .text div button:hover {
  color: var(--between);
}

.cv .cv-container .text div button:hover::after {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: skewX(-45deg) scale(1, 1);
          transform: skewX(-45deg) scale(1, 1);
}

.cv .cv-container .text div button::after {
  content: "";
  background: #ecf0f1;
  position: absolute;
  z-index: -1;
  padding: 1rem 1.5rem;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  left: -25%;
  right: -25%;
  top: 0;
  bottom: 0;
  -webkit-transform: skewX(-45deg) scale(0, 1);
          transform: skewX(-45deg) scale(0, 1);
}

.cv .cv-container .cv-illustration {
  height: calc(50vh + 3.5rem);
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: svg;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0 0 0;
}

.cv .cv-container .cv-illustration svg {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
/*# sourceMappingURL=CV.css.map */