$titleSize: clamp(1.9rem, 6vw, 2.5rem);
$dark: #17252a;
$between: #2b7a78;
$light: #feffff;
#iconLight {
    color: $light;
}
#iconDark {
    color: #0a1013;
}
strong {
    font-weight: 530;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    scrollbar-color: #c8c8c8 #313131 !important;
    scrollbar-width: thin !important;
}
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #313131;
}

::-webkit-scrollbar-thumb {
    background: #c8c8c8;
    &:hover {
        background: #eeeeee;
    }
}
.App{
    .bg {
        width: 100vw;
        height: 100vh;
        background: $dark;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;
    }
    .bg2 {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.74);
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    min-height: 100vh;
    color: $dark;
}